.cart {
  position: relative;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    @media (max-width: 767px) {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__btn-remove {
    align-self: flex-start;
    padding: 15px 20px;
    border-radius: 8px;
    color: white;
    background: #F70003;
    cursor: pointer;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;

    @media (max-width: 992px) {
      grid-template-columns: 1fr;
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__item {
      position: relative;
      width: 100%;
      padding: 20px;
      display: flex;
      gap: 30px;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      border-radius: 8px;

      @media (max-width: 767px) {
        flex-direction: column;
      }
    }

    &__item-image {
      display: flex;
      justify-content: center;
      align-items: center;
      max-height: 200px;
      max-width: 200px;
      height: 100%;
      width: 100%;
      background: #333333;
      color: white;

      @media (max-width: 767px) {
       align-self: center;
      }
    }

    &__item-wrapper {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    &__item-name:first-letter {
      text-transform: uppercase;
    }

    &__item-btn-close {
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
    }
  }

  // PAYMENT
  .payment {
    align-self: flex-start;
    max-height: 350px;
    height: 100%;
    padding: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;

    &__title {
      text-align: center;
    }
  }
}


